<div id="about_div">
	<p>
		Pasvorto is a random password generator meant to be very simple and fast to use, probably too simple for many, but good enough for others.
	</p>
	<p>
		It was created using <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> and was made for fun in just a few hours. There are no secrets behind it and the code is freely available at <%= link_to 'Github', 'https://github.com/atle/pasvorto' %>.
	</p>
</div>
